[submodule "Probabilistic-Programming"]
	path = Probabilistic-Programming
	url = https://github.com/AdrianIordache/Probabilistic-Programming
[submodule "Practical-Machine-Learning"]
	path = Practical-Machine-Learning
	url = https://github.com/AdrianIordache/Practical-Machine-Learning
[submodule "Knowledge-Representation-and-Reasoning"]
	path = Knowledge-Representation-and-Reasoning
	url = https://github.com/AdrianIordache/Knowledge-Representation-and-Reasoning
[submodule "Computer-Vision"]
	path = Computer-Vision
	url = https://github.com/AdrianIordache/Computer-Vision
[submodule "Advanced-Theoretical-Machine-Learning"]
	path = Advanced-Theoretical-Machine-Learning
	url = https://github.com/AdrianIordache/Advanced-Theoretical-Machine-Learning
[submodule "Natural-Language-Processing-1"]
	path = Natural-Language-Processing-1
	url = https://github.com/AdrianIordache/Natural-Language-Processing-1
[submodule "Statistics-for-Data-Science"]
	path = Statistics-for-Data-Science
	url = https://github.com/AdrianIordache/Statistics-for-Data-Science
[submodule "Natural-Language-Processing-2"]
	path = Natural-Language-Processing-2
	url = https://github.com/AdrianIordache/Natural-Language-Processing-2
[submodule "Neural-Machine-Translation"]
	path = Neural-Machine-Translation
	url = https://github.com/AdrianIordache/Neural-Machine-Translation
[submodule "Information-Retrieval-and-Text-Mining"]
	path = Information-Retrieval-and-Text-Mining
	url = https://github.com/AdrianIordache/Information-Retrieval-and-Text-Mining
[submodule "Deep-Learning"]
	path = Deep-Learning
	url = https://github.com/AdrianIordache/Detect-Targets-In-Radar-Signals
[submodule "BioMedical-NLP"]
	path = BioMedical-NLP
	url = https://github.com/AdrianIordache/BioMedical-NLP
[submodule "Problem-Solving-and-Search"]
	path = Problem-Solving-and-Search
	url = https://github.com/AdrianIordache/Problem-Solving-and-Search
[submodule "Special-Topics-in-Artificial-Intelligence"]
	path = Special-Topics-in-Artificial-Intelligence
	url = https://github.com/AdrianIordache/Special-Topics-in-Artificial-Intelligence
